<mat-card class ="container">
    <mat-card-header class="tab">
        <mat-card-title>Create Your account</mat-card-title>       
     </mat-card-header>
  <mat-card-content class="subContainer">
        <div class="tab">        
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" >
                </mat-form-field>
                   
                <mat-form-field appearance="outline" style="padding-left: 20px;">
                    <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name" >
                </mat-form-field>
            </div> 
        </div>

        <div class="tab">        
            <div class="example-container">
                <mat-form-field appearance="outline" >
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User Name" >
                </mat-form-field>
              
                <mat-form-field appearance="outline" style="padding-left: 20px;">
                    <mat-label>Email ID</mat-label>
                    <!-- <input matInput placeholder="Enter your email" [formControl]="email" required> -->
                    <input matInput placeholder="Email ID" >
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                </div>
        </div>

        <div class="tab">        
            <div class="example-container" >
                <mat-form-field appearance="outline"> 
                        <mat-label>Password</mat-label>                    
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">                                                            
                </mat-form-field>
               
                <mat-form-field appearance="outline" style="padding-left: 20px;">
                    <mat-label>Conform Password</mat-label>
                    <input matInput placeholder="Conform Password" [type]="hide ? 'password' : 'text'">
                </mat-form-field>
                &nbsp;
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>  
            </div>
        </div>

        <div class="tab" >        
            <mat-button-toggle-group #toggleGroup ="matButtonToggleGroup" >
                <mat-button-toggle value="Basic" (click)="color=true" [style.backgroundColor]="color==true?'#17ce30':'white'" >Basic</mat-button-toggle>
                <mat-button-toggle value="Advance" (click)="color=false"[style.backgroundColor]="color==false?'#17ce30':'white'">Advance</mat-button-toggle>
            </mat-button-toggle-group>
            <!-- {{toggleGroup.value}}      -->
        </div>    
      
        <div class="button"  fxLayout="row" fxLayoutAlign="space-between center">
            <div class="example-button-row">
                <a mat-flat-button routerLink=".">Sign in Instead</a>
                <button mat-raised-button color="primary">Next</button>                 
            </div>
        </div>    
  </mat-card-content>

</mat-card>