<mat-card class ="container">
    <mat-card-header class="tab">
        <mat-card-title>Create Your account</mat-card-title>       
     </mat-card-header>
    <form [formGroup] = "registrationForm">
        <mat-card-content class="subContainer">
                <div class="tab">        
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" [formControl]= "registrationForm.get('FirstName')" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': submitted && FirstName.errors }" />
                            <mat-error *ngIf="registrationForm.get('FirstName').hasError('required')">
                                Please provide First Name.
                            </mat-error>   
                            <mat-error *ngIf="registrationForm.get('FirstName').hasError('minlength')">
                               Name must contain at least 3 characters.
                            </mat-error>   
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" style="padding-left: 20px;">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" [formControl]= "registrationForm.get('LastName')" minlength= "3" class="form-control" [ngClass]="{ 'is-invalid': submitted && LastName.errors }" />
                            <mat-error *ngIf="registrationForm.get('LastName').hasError('required')">
                                Please provide Last Name.
                            </mat-error>
                            <mat-error *ngIf="registrationForm.get('LastName').hasError('minlength')">
                                Name must contain at least 3 characters.
                             </mat-error> 
                        </mat-form-field>
                    </div> 
                </div>

                <div class="tab">        
                    <div class="example-container">
                        <mat-form-field appearance="outline" >
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="User Name" [formControl]= "registrationForm.get('UserName')" minlength="3" class="form-control" [ngClass]="{ 'is-invalid': submitted && UserName.errors }" />
                            <mat-error *ngIf="registrationForm.get('UserName').hasError('required')">
                                Please provide User Name.
                            </mat-error>
                            <mat-error *ngIf="registrationForm.get('UserName').hasError('minlength')">
                               User Name must contain at least 3 characters.
                             </mat-error> 
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline" style="padding-left: 20px;">
                            <mat-label>Email ID</mat-label>
                            <input matInput placeholder="Email ID" [formControl]="registrationForm.get('EmailID')" class="form-control" [ngClass]="{ 'is-invalid': submitted && EmailID.errors }" />
                                <mat-error *ngIf="registrationForm.get('EmailID').hasError('required')">
                                    Please provide EmailID.
                                </mat-error>    
                                <mat-error *ngIf="registrationForm.get('EmailID').hasError('email')">
                                    Please provide valid EmailID. 
                                </mat-error>  
                        </mat-form-field>
                        </div>
                </div>

                <div class="tab">        
                    <div class="example-container" >
                        <mat-form-field appearance="outline"> 
                                <mat-label>Password</mat-label>                    
                                <input matInput placeholder="Password" minlength="6" maxlength="15" [type]="hide ? 'password' : 'text'" [formControl]= "registrationForm.get('Password')" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                                <mat-error *ngIf="registrationForm.get('Password').hasError('required')">
                                    Please provide password.
                                 </mat-error>
                                 <mat-error *ngIf="registrationForm.get('Password').hasError('minlength')">
                                    Password must be 6-15 characters long 
                                 </mat-error>         
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline" style="padding-left: 20px;">
                            <mat-label>Conform Password</mat-label>
                            <input matInput placeholder="Conform Password" minlength="6" maxlength="15" [type]="hide ? 'password' : 'text'" [formControl]="registrationForm.get('ConformPassword')" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConformPassword.errors }" />
                            <mat-error *ngIf="registrationForm.get('ConformPassword').hasError('required')">
                                Please conform your password.
                             </mat-error>
                             <mat-error *ngIf="registrationForm.get('ConformPassword').hasError('minlength')">
                                Password must be 6-15 characters long 
                             </mat-error>
                            <div *ngIf = "(registrationForm.get('ConformPassword').touched || registrationForm.get('ConformPassword').dirty)">
                                <mat-error *ngIf = "registrationForm.hasError('notSame')">
                                    Password must match
                                 </mat-error>
                            </div>
                        </mat-form-field>
                        &nbsp;
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>  
                    </div>
                </div>

                <div class="tab" >        
                    <mat-button-toggle-group #toggleGroup ="matButtonToggleGroup" [formControl]= "registrationForm.get('ServiceType')" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ServiceType.errors }">
                        <mat-button-toggle value="Basic" (click)="checked=true" [style.backgroundColor]="checked==true?'#17ce30':'white'" >Basic</mat-button-toggle>
                        <mat-button-toggle value="Advance" (click)="checked=false"[style.backgroundColor]="checked==false?'#17ce30':'white'">Advance</mat-button-toggle>
                        <mat-error *ngIf="registrationForm.get('ServiceType').hasError('required')">
                            *
                        </mat-error>
                    </mat-button-toggle-group>
                    <!-- {{toggleGroup.value}}      -->
                    
                </div>    
            
                <div class="button" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="example-button-row">
                        <a mat-flat-button routerLink="/login">Sign in Instead</a>
                        <button mat-raised-button color="primary" (click) = Registration(this.form-control)>Next</button>                 
                    </div>
                </div>    
        </mat-card-content>
    </form>
</mat-card>