<mat-toolbar class="toolbar" > 
    <div class="toolbar-options" style="display: flex;" fxLayout="row" fxFlex="100%">
         <div fxLayoutAlign="start center" fxLayout="row"  fxFlex=50>
 
             <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>  
 
             <div><img src="/assets/png/bulb.png"></div>           
             <div style="padding-left: 10px;">{{name}}</div>        
         </div>  
 
         <div class="searchOptiopn" fxLayoutAlign="start center" fxLayout="row">
            <div style="padding-left: 10px; padding-bottom: 10px;">
                <button mat-icon-button>
                    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                 </button>  
            </div>
            <mat-form-field  appearance="none" style="width: 80%; padding-left: 10px;" >
               <input matInput placeholder="Search" style="font-size: 16px; background-color: whitesmoke; width: 100%; border-style: unset">
             </mat-form-field> 
 
             <div style="width: 30px; height: 40px; margin-left: 50px; margin-bottom: 10px;" fxLayoutAlign="end center" fxLayout="row">
                 <button mat-icon-button ><mat-icon>clear</mat-icon></button> 
             </div>
             
         </div>
 
         <div fxLayout="row" fxLayoutAlign="space-around center" class="toolbar-option-buttons">
             <div >
                 <button mat-icon-button >
                     <mat-icon fontSet="material-icons-outlined">refresh</mat-icon>
                 </button> 
             </div>
             <div >
                 <button mat-icon-button>
                     <mat-icon fontSet="material-icons-outlined">view_agenda</mat-icon>
                 </button> 
             </div>
             <div >
                 <button mat-icon-button>
                     <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
                 </button> 
             </div>
         </div>
 
         <div fxLayoutAlign="space-around center" fxLayout="row"  class="toolbar-last-option-buttons">
            
           <div>
             <button mat-icon-button>
                 <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
             </button>  
             </div>
 
             <div >
                 <button mat-icon-button>
                     <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
                     </button>  
                 </div>
         </div>
     </div>
  </mat-toolbar>   
 
  <mat-sidenav-container class="NoteContainer">
     <mat-sidenav #drawer mode="side"class="example-sidenav">
         <div class="sideNavList" >
             <mat-nav-list >
                 <a mat-list-item routerLink='.' (click)="name='Notes'"  class="snavbarButtons">
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;"></mat-icon>
                     Notes
                 </a>
                 <a mat-list-item routerLink='.' (click)="name='Reminder'" class="snavbarButtons">
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;" >notifications_none</mat-icon>
                     Reminder
                 </a>
               </mat-nav-list>
         </div>
         <div class="sideNavList" style="padding-top: 10px;">
             <Label style="padding-left: 20px; font-size: 12px;">LABELS</Label>
             <mat-nav-list>
                 <a mat-list-item routerLink='.' class="snavbarButtons">
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;">label</mat-icon>
                     label
                 </a>
                 <a mat-list-item routerLink='.' class="snavbarButtons">
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;">edit</mat-icon>
                     Edit Labels
                 </a>
               </mat-nav-list>
         </div>
         <div>
             <mat-nav-list>
                 <a mat-list-item routerLink='.' class="snavbarButtons" (click)="name='Archive'" >
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;">archive</mat-icon>
                     Archive
                 </a>
                 <a mat-list-item routerLink='.' class="snavbarButtons" (click)="name='Trash'" >
                     <mat-icon fontSet="material-icons-outlined" style="padding-right: 10px;">delete</mat-icon>
                     Trash
                 </a>
               </mat-nav-list>
         </div>
     </mat-sidenav>
 
     <div class="example-sidenav-content">
        
        
     </div>
  </mat-sidenav-container>
   