.toolbar{
    background-color: white;
    height: 70px;
}
.NoteContainer{
   margin-top: 10px;
   height: 500px;
    border : cornsilk;
    border-width: 2px;
    border-style: groove;
}
    
  .example-sidenav-content {
    display: flex;
    height: 100%;
    padding-top: 20px;
    // align-items: center;
    justify-content: center;
  }
  .example-sidenav {
    // padding: 20px;
    width: 20%;
  }

  .toolbar-options{
    padding-left: 10px;
    background-color:white;
    }

    .sideNavList{
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 1px;
      padding-bottom: 10px;
      border-style:groove ;
    }

    .searchOptiopn{
      padding-left: 10px;
      width: 3000px;
      padding-top: 10px;
      height: 50px;
      border-radius: 15px;
      background-color: whitesmoke;
    }

    .snavbarButtons{
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }

  .toolbar-last-option-buttons
  {
    // padding-left: 10px;
    padding-right: 40px;
    width: 100px;
    //  background-color: grey;
    padding-left: 100px;

  }
  .toolbar-option-buttons
  {
    // background-color: yellow;
   padding-left: 80px;
   width: 200px;
   padding-right: 20;
  // background-color: green($color: #df9931);
  }
  .snavbarButtons:hover{
    background-color:rgb(241, 239, 106)
  }
  .snavbarButtons:focus{
    background-color: rgb(250, 169, 19);
  }