<mat-card class="container">
 
  <form [formGroup]="loginForm">
     <div class="subContainer">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header class="tab">
                <mat-card-title>Sign In</mat-card-title>       
                <mat-card-subtitle>Use your Google Account</mat-card-subtitle>
            </mat-card-header>
        </div>
    
        <div class="tab">
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Email ID</mat-label>
                 
                    <input matInput placeholder="Email ID" formControlName="EmailID" class="form-control" [ngClass]="{ 'is-invalid': submitted && EmailID.errors }" />
                
                </mat-form-field>
                <mat-form-field appearance="outline">            
                    <mat-label>Enter Password</mat-label>                    
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                    
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                </mat-form-field>
            </div>
       </div>

       <div class="tab" >
        <div class="example-button-row">
          <a mat-button routerLink="/forgetPassword">Forget Password?</a> 
        </div>
       </div>

       <div class="tab" style="padding-top: 20px;">
          <div class="example-button-row">
            <a mat-flat-button routerLink="/register">Create Account</a>
            <button mat-raised-button color="primary" (click)= Login(this.form-control)>Sign In</button>  
          </div>
       </div>
    </div>
</form>
</mat-card>