<mat-card class="container">
    <div class="subContainer">
        <div fxLayout ="center" fxLayoutAlign ="center center">
            <mat-card-header class="tab">
                <mat-card-title>Set New Password</mat-card-title>  
            </mat-card-header>
        </div>
        <div class="tab">
            <div class="example-container">
                <mat-form-field appearance="outline">            
                    <mat-label>Enter Password</mat-label>                    
                    <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'">   
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Conform Password</mat-label>
                    <input matInput placeholder="Conform Password" [type]="hide ? 'password' : 'text'">
                     <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                </mat-form-field>
            </div>
        </div>
        <div class="tab">
            <div fxLayout="row" fxLayoutAlign="end center" class="tab" style="padding-top: 20px;">
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Next</button>  
                </div>
            </div>
        </div>
    </div>
</mat-card>
