<mat-card class="container">
    <form [formGroup]="resetPasswordForm">
        <div class="subContainer">
            <div fxLayout ="center" fxLayoutAlign ="center center">
                <mat-card-header class="tab">
                    <mat-card-title>Set New Password</mat-card-title>  
                </mat-card-header>
            </div>
            <div class="tab">
                <div class="example-container">
                    <mat-form-field appearance="outline">            
                        <mat-label>Enter Password</mat-label>                    
                        <input matInput placeholder="Password" minlength="6" maxlength="15" [type]="hide ? 'password' : 'text'" [formControl]= "resetPasswordForm.get('Password')" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                        <mat-error *ngIf="resetPasswordForm.get('Password').hasError('required')">
                            Please provide password.
                         </mat-error>
                         <mat-error *ngIf="resetPasswordForm.get('Password').hasError('minlength')">
                            Password must be 6-15 characters long 
                         </mat-error>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>Conform Password</mat-label>
                        <input matInput placeholder="Conform Password" minlength="6" maxlength="15" [type]="hide ? 'password' : 'text'" [formControl]="resetPasswordForm.get('ConformPassword')" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConformPassword.errors }" />
                            <mat-error *ngIf="resetPasswordForm.get('ConformPassword').hasError('required')">
                                Please conform your password.
                            </mat-error>
                                                    
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                                                         
                    </mat-form-field>

                    <div *ngIf = "(resetPasswordForm.get('ConformPassword').touched || resetPasswordForm.get('ConformPassword').dirty)">
                        <mat-error *ngIf = "resetPasswordForm.hasError('notSame')">
                            Password must match
                         </mat-error>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div fxLayout="row" fxLayoutAlign="end center" class="tab" style="padding-top: 20px;">
                    <div class="example-button-row">
                        <button mat-raised-button (click)="ResetPassword(this.form-control)" color="primary">Next</button>  
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-card>
