.toolbar{
    background-color: whitesmoke;
}
.NoteContainer{
   
   margin-top: 10px;
   height: 500px;
    border : cornsilk;
    border-width: 2px;
    border-style: groove;
}
    
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
 width: 20%;
  }
