
  .takeANote{
    width: 50%;
    padding-left: 10px;  
    height: 55px;
    border-radius: 15px;
    background-color: white
  }

  .takeanote-options
  {
    padding-left: 10px;
    width: 150px;
    // background-color: grey;
    padding-left: 20px;
    height: 40px;
    margin-top: 8px;
   margin-left: 10px;
  }
  .buttons:hover{
      background-color: rgb(223, 222, 209);
  }

  .noteContainer{
     width: 50%;
      height: 200px;
      padding-left: 10px;  
      padding-top: 10px;
      border-radius: 15px;
      background-color: whitesmoke;
  }