<div fxLayoutAlign="center center" style="margin-top: 15px;">

    <mat-card class="takeANote"  style="display: flex;" fxLayoutAlign="center center" fxLayout="row"
      *ngIf= "visible" >  
       
        <div style=" width: 480px; height: 40px; margin-top: 8px; font-size: 16px;" fxLayoutAlign="start center"
            (click)="visible = !visible">Take a Note          
        </div>
        
        <div class="takeanote-options"  fxLayoutAlign="space-around center" fxLayout="row">
            <button mat-icon-button (click)="checked=true" class="buttons">
                <mat-icon fontSet="material-icons-outlined">check_box</mat-icon>
            </button>
            <button mat-icon-button (click)="checked=true" class="buttons">
                <mat-icon fontSet="material-icons-outlined">brush</mat-icon>
            </button>
            <button mat-icon-button (click)="checked=true" class="buttons">
                <mat-icon fontSet="material-icons-outlined">image</mat-icon>
            </button>     
        </div>      
    </mat-card>

    <mat-card class="noteContainer" *ngIf="!visible">
        <div class ="titletext" fxLayout="row" fxLayoutAlign="space-between center">          
            <textarea matInput appearance="none" placeholder="Title" [(ngModel)]="title" class="title-text" fxLayoutAlign="start center" ></textarea>  
           
            <div fxLayoutAlign="end center" fxLayout="row" class="pin">
                <button mat-icon-button  fxLayoutAlign="center center">
                    <img src="/assets/svg/pin.svg" *ngIf="!isPin" (click)="isPin = true" style=" width: 35px;">
                    <img src ="/assets/png/pin2.png" *ngIf ="isPin" (click)="isPin = !isPin">
                </button> 
            </div>
        </div>

        <textarea matInput appearance="none" autofocus="true" placeholder="Take a note" [(ngModel)]="description" class="description" appearance="none" fxLayoutAlign="start center" ></textarea>
           
        <div class="icons" fxLayoutAlign="space-between center" fxLayout="row">
            <div fsxFlex="60">
                <app-icon></app-icon>
            </div>

            <div fxLayoutAlign="end center" fxLayout="row">
                <a mat-button (click)="CreateNote()">Close</a>
            </div>       
        </div>      
    </mat-card>
</div>