<mat-card class="container">
    <form [formGroup]="forgetPasswordForm">
        <div class="subContainer">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header class="tab">
                    <mat-card-title>Reset Password Using Email-ID</mat-card-title>  
                </mat-card-header>
            </div>
            <div class="tab">
                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Email ID</mat-label>
                        <input matInput placeholder="Enter Your Email ID" formControlName="EmailID" class="form-control" [ngClass]="{ 'is-invalid': submitted && EmailID.errors }" />
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" class="tab" style="padding-top: 20px;">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click) = ForgetPssword(this.form-control)>Next</button>  
                </div>
            </div>
        </div>   
    </form>
</mat-card>
