<mat-card class="container">
    <div class="subContainer">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header class="tab">
                <mat-card-title>Reset Password Using Email-ID</mat-card-title>  
            </mat-card-header>
        </div>
        <div class="tab">
            <div class="example-container">
                <mat-form-field appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <!-- <input matInput placeholder="Enter your email" [formControl]="email" required> -->
                    <input matInput placeholder="Enter Your Email ID">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="tab" style="padding-top: 20px;">
            <div class="example-button-row">
                <button mat-raised-button color="primary">Next</button>  
            </div>
        </div>
    </div>   
</mat-card>
